{% extends 'base.html.twig'%} 

{% block body %}

<h1>Inscription sur le site</h1>
{{ form_start(form) }}

{{ form_row(form.username, {'label' : 'Nom d\'utilisateur', 'attr':
{'placeholder': 'Nom d\'utilisateur...'}})}} <br>

{{ form_row(form.email, {'label' : 'Adresse email', 'attr':
{'placeholder': 'Adresse email'}})}} <br>

{{ form_row(form.password, {'label' : 'Mot de passe', 'attr':
{'placeholder': 'Mot de passe'}})}} <br>

{{ form_row(form.confirm_password, {'label' : 'Confirmation de mot de passe', 'attr':
{'placeholder': 'Repeter votre mot de passe'}})}} <br>

<button type="submit" class="btn btn-success" >INSCRIPTION</button>

{{ form_end(form) }}
{% endblock %}